<!DOCTYPE html>
<html lang="es">

<head>
  <title>Inicio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/4.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
</head>

<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid text-center">
    <h1>BIENVENIDOS <br>a mi >> <span class="badge badge-primary">Restaurante</span></h1>      
    <p>Empezando Desde Cero </p>
  </div>
</div>


<div class="sticky"><!--clase posicion del navbar modo pegajoso o adhesiva-->
<nav class="navbar navbar-expand-sm">
  <!-- para colocar una imagen en el navbar estilo logo. Brand/logo -->
  <a class="navbar-brand" href="https://github.com/" target="_blank">
    <img src="imagenes/0.jpg" alt="logo" class="rounded-circle" style="width:80px;">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--fin de brand logo-->
  
  <!-- Links en navbar-->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" target="_blank">Menu del Dia</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" target="_blank">Postres</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" href="#" target="_blank">Bebidas</a>
    </li>
    </ul>
</div>
<!--fin link en navbar-->

</div>
</nav>

<br><!--espaciado-->

<!--recipiente imagenes (cuadrícula)-->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-4">
      <img class="card-img-top border border-default" src="imagenes/1.jpg" alt="Card image">
      <h4 class="card-title">Hamburguesa</h4>
      <p class="card-text">Una hamburguesa es un alimento en forma de 
      bocadillo hecho a base de carne picada aglutinada en forma de filete, 
    cocinado a la parrilla o a la plancha, aunque también puede freírse u hornearse.</p>
      <a href="https://es.wikipedia.org/wiki/Hamburguesa" class="btn btn-danger" target="_blank">Ir a Pagina</a>
    </div>

  <div class="col-sm-4">
      <img class="card-img-top border border-default" src="imagenes/2.jpg" alt="Card image">
      <h4 class="card-title">Postres</h4>
      <p class="card-text">Los cumpleaños, navidades, bautizos o reuniones familiares sin motivo especial, tienen lugar generalmente alrededor de una mesa. El menú es sin duda protagonista de estas celebraciones y uno de los platos más esperados por grandes y pequeños es el postre.
      A continuación, veremos tres ideas de postres perfectos para reuniones familiares que llenar</p>
      <a href="https://mejorconsalud.com/recetas-postres-reuniones-familiares/" class="btn btn-danger" target="_blank">Ir a Pagina</a>
    </div>

    <div class="col-sm-4">
      <img class="card-img-top border border-default" src="imagenes/3.jpg" alt="Card image">
      <h4 class="card-title">Bebidas</h4>
      <p class="card-text">El agua es la reina de las bebidas hidratantes existentes. 
      Esta compone más del 60% de del cuerpo humano y sus beneficios afectan de forma directa a nuestros músculos y huesos. Además, no solo es necesaria para la existencia humana, sino para prácticamente toda forma de vida.</p>
      <a href="https://www.muyinteresante.es/salud/fotos/7-bebidas-mas-saludables-que-el-agua/agua-con-aloe-vera" class="btn btn-danger" target="_blank">Ir a Pagina</a>
    </div>
  </div>
  </div>
<!--fin recipientes imagenes-->


<br><!--espaciado-->


<!--pie de pagina -->
<footer class="container-fluid text-center">
  <p>Powered by >><span class="badge badge-primary">Saul Rivera M.</span></p> 
</footer>
<!--fin pie de pagina-->


</body>
</html> 
